<h1>Listing orders</h1>

<% if notice %>
<div id="notice" class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><%= notice %>
<% end %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="panel-title"><strong>Orders</strong>
</div>
</div>
<div class="panel-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>Email</th>
      <th>Payment</th>
      <th colspan="3">#</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= PaymentType.find(order.payment_type_id).name %></td>
        <td><%= link_to 'Show', order ,class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_order_path(order),class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</tbody>
</table>
<div class="btn-group btn-group-justified">

<%= link_to 'New Order', new_order_path, class: "btn btn-success" %>
</div>
</div>

</div>
</div>
