<% unless cart.line_items.empty? %>

<div class="panel panel-default">
<div class="panel-heading">
<div class="panel-title"><strong>Shopping cart</strong>
</div>
</div>
<div class="panel-body">

<table class="table table-hover">
<thead>
	<th>#</th>
	<th>Book Title</th>
	<th>Price per unit</th>
	<th>Quanity</th>
	<th>Price</th>
	<th></th>
</thead>
<tbody>
<%= render(cart.line_items) %>

<tr class="summary">
<td></td>
<td colspan="2"><b>Total Price</b></td>
<td><%= pluralize cart.total_items , "item" %></td>
<td class="price"><%= number_to_currency(@cart.total_price) %> </td>
<td></td>
</tr>
</tbody>
</table>
<div class="btn-group btn-group-justified">
<%= link_to 'Check out', new_order_path, method: :get , class: "btn btn-primary"%>
<%= link_to 'Empty cart', @cart, method: :delete, data:{ confirm: 'Are you sure?'},class: "btn btn-warning", remote: true %>
</div>
</div>
</div>
<% end %>