<% if line_item == @current_item %>
<tr id="current_item" data-line-item="<%= line_item.id %>">
<% else %>
<tr data-line-item="<%= line_item.id %>">
<% end %>
<td><%= line_item.id %></td>
<td><%= line_item.product.title %></td>
<td><%= number_to_currency(line_item.price) %></td>
<td>
 <div class="input-group spinner">
    <!-- Spinner using button tag -->
     
    <input type="text" class="form-control" value="<%= line_item.quantity %>" readonly>
    <div class="input-group-btn-vertical">
      <%= link_to '<button type="button" class="btn btn-default"><i class="fa fa-caret-up"></i></button>'.html_safe, increment_line_item_path(line_item),method: :put,remote: true %>
       <%= link_to '<button type="button" class="btn btn-default"><i class="fa fa-caret-down"></i></button>'.html_safe, decrement_line_item_path(line_item),method: :put,remote: true %>

    </div> 
   
  </div>
</td>
<td><%= number_to_currency(line_item.total_price) %></td>
<td><%= button_to 'Delete',line_item, method: :delete, data:{ confirm: 'Are you sure to delete this line'}, class: "btn btn-danger btn-sm" ,remote: true %></td>
</tr>
