<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Bookstore Catalog</h1>
<% @products.each do |product|%>
<div class="row entry">
	<div class="col-xs-6 col-md-4">
	<%=	link_to image_tag(product.image_url, class: "img-rounded"), product %>
	</div>
	<div class="col-xs-6 col-md-8">
	<h3><%= link_to product.title, product %></h3>
	<%= sanitize(product.description) %>
	<div class="price_line">
	<span class="badge price">$ <%= product.price %> </span>

	</div>
	
	</div>
</div>
<% end %>